g<html>

<head>
    <title>Home</title>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >

</head>

<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Photos</a>
                    </li>
                    
                    
                  </ul>
                  <span class="navbar-text">
                        <% if(data.val==0) {%>
                      <a href="login">Login</a>
                        <%}
                        else{%>
                            <p> Welcome <%= data.name %></p>
                        <%}

                        %>
                    </span> 
                </div>
              </nav>

              <div class="jumbotron">
                  <h1 class="display-4">Welcome to Rotaract Mumbai</h1>
                  <p class="lead">Join the global movement of young leaders who are developing innovative solutions to the world’s most pressing challenges.</p>
                  <hr class="my-4">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>

</body>

</html>